<!DOCTYPE HTML>

<html>

	<head>
		<title>Canvas Test</title>
		<meta name="description" content="An animation made by HTML 5">
		<meta name="author" content="Wilson Weng">
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="jcanvas.min.js"></script>
	
	<body>
		<canvas id="canvas" style="position: absolute; left: 0; top: 0; z-index: 1; background-color:Transparent;"></canvas>
		<script type="text/javascript" src="canvas_test.js"></script>
		<div class = "content" style="display: none">
			<img src="images/frame_snow.jpg" alt="frame" />
			<div class="article">
				<h2>Blog</h2>
				<p>Sample text
				</p>
			</div>
		</div>
	</body>

</html>
